POSTGRES_USER=robomesh
POSTGRES_PASSWORD=changeme
POSTGRES_DB=robomesh_db
POSTGRES_PORT=5432

# For dbmate (set this before running migrations)
# DATABASE_URL=postgres://robomesh:changeme@localhost:5432/robomesh_db?sslmode=disable
